.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-primary-dark;
  padding: 2rem;
  box-shadow: 0 0.1rem 1rem 0.3rem rgba(0, 0, 0, 0.1);

  &__list {
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-around;
    list-style: none;

    & li {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      transition: transform 0.2s;
      &:hover {
        @include translateScale;
      }
    }
    
    @media only screen and(max-width:43.75em) {
      width: 100%;
    }
    
   
  }
}

.logo {
  max-width: 6rem;
  height: auto;
  transition: transform 0.2s;
  &:hover {
    @include translateScale;
  }
}

.icon {
  color: $color-icon;
}
