$color-primary-light:#ffffff; //background color
$color-primary-dark:#f9f6f7; //heade color

$color-secondary-background:#b0cac7;
$color-icon:#3d6cb9; //every icon
$color-task-background:#e3f6f5;

$color-text:#f9f9f9;
$color-icon-opacity:rgba(61, 108, 185, 0.5);

$color-icon-secondary:green;
$color-icon-tertiary:red;