$color-primary-light:#ffffff; //background color
$color-primary-dark:#f9f6f7; //heade color


$color-delete:#e43a19; //delete button color
$color-edit:#ffd700; //edit button
$color-input:#21bf73; // input and button color

$color-task:#111f4d; //task background color

$color-icon:#3d6cb9; //every icon

$color-text:#f9f9f9;